<div style="display:flex; flex-direction: row; justify-content:center; align-items:center;">
    
    <h1>
    Latest Plays
    </h1>
    
</div>



{{#each data}}
<article class="individual-play">
 <img class="image" src="../uploads/{{this.file_name}}"/>
<h1> {{this.play_id }}</h1>
<h1> Title of the Play: {{this.play_title }}</h1>
<h1> Starting date: {{this.play_time_start }}</h1>
<h1> Days running: {{this.play_days_running }}</h1>
<a href="#plays/{{this.play_id}}">Details</a>
</article>



{{/each}}


