<body>
    
    
<article class="individual-article">
<p class="news-title">
{{post_title}}
</p>
 <img class="image" src="../uploads/{{this.file_name}}"/>
<hr>
<div id="markdown-article"> 
</div>
<p> Dated posted: {{play_added}}</p>
<p> The play starting day: : {{this.play_time_start}}</p>
<p> The play ending day: : {{this.play_time_end}}</p>
</article>
</body>
